{
  "presets": [
    "next/babel",
    "airbnb",
    "@babel/preset-typescript",
    "@babel/preset-env",
    "@babel/plugin-transform-runtime",
    "@babel/preset-react"
  ],
  "plugins": [],
  "targets": {
    "node": 16,
    "browsers": [
      "last 2 chrome versions",
      "last 2 firefox versions",
      "last 2 safari versions",
      "last 2 edge versions"
    ]
  }
}
